<h2>Author's Lounge</h2>

<% @authors.each do |author| %>
  <section id="author-<%= author.id %>-info">
    <img src="<%= author.image %>" alt="<%= author.name %> Photo">
    <h5><%= link_to author.name, author_path(author) %></h5>
    <p>Books:</p>
    <ul>
      <% author.top_three_books.each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
      <% end %>
    </ul>
    <p>Number of Books: <%= author.book_count %></p>
  </section>
<% end %>
