<h2><%= @author.name %></h2>

<% @books.each do |book| %>
  <section id="book-<%= book.id %>-info">
    <img src="<%= book.image %>" alt="<%= book.title %>"/>
    <h5><%= book.title %></h5>
    <p>Pages: <%= book.pages %></p>
    <p>Published: <%= book.year %></p>
    <% if book.coauthors(@author).any? %>
      <p>Co-authors:</p>
        <% book.coauthors(@author).each do |coauthor| %>
        <ul>
          <li><%= link_to coauthor.name, author_path(coauthor) %></li>
        </ul>
        <% end %>
    <% end %>
    <% if book.highest_three_reviews.any? %>
    <% top_review = book.highest_three_reviews.first %>
      <p>Top Review:</p>
      <ul>
        <li><%= top_review.title %></li>
        <li><%= top_review.rating %> Stars</li>
        <li>Posted by: <%= link_to top_review.user.name, user_path(top_review.user) %></li>
      </ul>
    <% end %>
  </section>
<% end %>

<%= link_to "Delete Author", author_path(@author), method: :delete, data: {confirm: "Are you sure you want to delete the author?"} %>
