<h2><%= @user.name %></h2>

<section class="user-reviews">
  <% @reviews.each do |review| %>
    <div class="user-review" id="review-<%= review.id %>">
      <h5><%= review.title %></h5>
      <p>Rating: <%= review.rating %></p>
      <p>Review: <%= review.text %></p>
    </div>
  <% end %>
</section>
