<h2>Welcome to the Book Nook!</h2>

<a href=<%= books_path(ratings: "high") %> id="rating-high">Sort by: Highest Rating</a>
<a href=<%= books_path(ratings: "low") %> id="rating-low">Sort by: Lowest Rating</a>
<a href=<%= books_path(pages: "high") %> id="pages-high">Sort by: Most Pages</a>
<a href=<%= books_path(pages: "low") %> id="pages-low">Sort by: Least Pages</a>
<a href=<%= books_path(reviews: "high") %> id="reviews-high">Sort by: Most Reviews</a>
<a href=<%= books_path(reviews: "low") %> id="reviews-low">Sort by: Least Reviews</a>

<section id="book-stats">
  <section id="highest-rated" style="display:inline-block;">
    <% @highest_three_ratings.each do |book| %>
      <h4><%= link_to book.title, book_path(book) %>, <%= book.average_rating %> Stars</h4>
    <% end %>
  </section>
  <section id="lowest-rated" style="display:inline-block;">
    <% @lowest_three_ratings.each do |book| %>
      <h4><%= link_to book.title, book_path(book) %>, <%= book.average_rating %> Stars</h4>
    <% end %>
  </section>
  <section id="user-stats" style="display:inline-block;">
    <% @top_three_users.each do |user| %>
      <h4><%= link_to user.name, user_path(user) %>, <%= user.review_count %> Reviews</h4>
    <% end %>
  </section>
</section>

<% @books.each do |book| %>
  <section class="book" id="book-<%= book.id %>">
    <img src="<%= book.image %>" alt="<%= book.title %> Cover">
    <h5><%= link_to book.title, book_path(book) %></h5>
    <p>Average Rating: <%= book.average_rating %> (<%= book.review_count %>)</p>
    <p><%= book.author_names.join(", ") %></p>
    <p>Pages: <%= book.pages %></p>
    <p>Year Published: <%= book.year %></p>
  </section>
<% end %>

<%= link_to "Add a New Book", new_book_path %>
