<h2>Welcome to the Book Nook!</h2>

<a href="/books?sort=rating_high" id="rating-high">Sort by: Highest Rating</a>

<a href="/books?sort=rating_low" id="rating-low">Sort by: Lowest Rating</a>

<% @books.each do |book| %>
  <section class="book" id="book-<%= book.id %>">
    <img src="<%= book.image %>" alt="<%= book.title %> Cover">
    <h5><%= book.title %></h5>
    <p>Average Rating: <%= book.average_rating %> (<%= book.review_count %>)</p>
    <p><%= book.author_names.join(", ") %></p>
    <p>Pages: <%= book.pages %></p>
    <p>Year Published: <%= book.year %></p>
  </section>
<% end %>
