<h2><%= @book.title %></h2>

<img src="<%= @book.image %>" alt="<%= @book.title %>"/>

<section id="book-<%= @book.id %>-info">
  <p>Pages: <%= @book.pages %></p>
  <p>Published: <%= @book.year %></p>
  <p>Author(s): <%= @book.author_names.join(", ") %></p>
</section>

<section>
  <h3>What other's are saying:</h3>
  <section id="highest-reviews">
    <% @book.highest_three_reviews.each do |review| %>
      <div id="high-review-<%= review.id %>">
        <h6><%= review.title %>, <%= review.rating %> Stars</h6>
        <%= link_to review.user, user_path(review.user.id) %>
    <% end %>
  </section>
  <section id="lowest-reviews" style="float:right;">
    <% @book.lowest_three_reviews.each do |review| %>
      <div id="low-review-<%= review.id %>">
        <h6><%= review.title %>, <%= review.rating %> Stars</h6>
        <%= link_to review.user, user_path(review.user.id) %>
    <% end %>
  </section>
</section>

<%= link_to "Delete Book", book_path(@book), method: :delete, data: {confirm: "Are you sure you want to delete the book?"} %>

<section class="all-reviews">
  <h3>All Reviews:</h3>
  <% @book.reviews.each do |review| %>
    <div id="review-<%= review.id %>">
      <h5><%= review.title %></h5>
      <p><%= review.user.name %>, <%= review.rating %> Stars</p>
      <p><%= review.text %></p>
    </div>
    <% end %>
</section>
