<div class="heading">
  <h2 style="display:inline-block;"><%= @book.title %></h2>
  <%= link_to "Delete Book", book_path(@book), method: :delete, data: {confirm: "Are you sure you want to delete the book?"}, class: "btn btn-danger", style: "margin-bottom:10px;" %>
</div>

<section class="book" id="book-<%= @book.id %>-info">
  <div class="card" style="width: 18rem;">
    <img src="<%= @book.image %>" class="card-img-top" alt="<%= @book.title %> Cover">
    <div class="card-body">
      <p class="card-text">Pages: <%= @book.pages %></p>
      <p class="card-text">Published: <%= @book.year %></p>
      <p class="card-text">Author(s):</p>
    </div>
    <ul class="list-group list-group-flush">
      <% @book.authors.each do |author| %>
        <li><%= link_to author.name, author_path(author), {class: "list-group-item"} %></li>
        <% end %>
    </ul>
  </div>
</section>

<section id="review-stats">
  <h3>Average Rating: <%= @book.average_rating.round(2) %></h3>
  <h3>What people are saying:</h3>
  <section id="highest-reviews" style="display:inline-block;">
    <% @book.highest_three_reviews.each do |review| %>
      <div id="high-review-<%= review.id %>">
        <h4><%= review.title %>, <%= review.rating %> Stars</h4>
        <%= link_to review.user.name, user_path(review.user.id) %>
      </div>
    <% end %>
  </section>
  <section id="lowest-reviews" style="display:inline-block;">
    <% @book.lowest_three_reviews.each do |review| %>
      <div id="low-review-<%= review.id %>">
        <h4><%= review.title %>, <%= review.rating %> Stars</h4>
        <%= link_to review.user.name, user_path(review.user.id) %>
      </div>
      <% end %>
  </section>
</section>
<br>

<section class="all-reviews">
  <h3>All Reviews:</h3>
  <% @book.reviews.each do |review| %>
    <div id="review-<%= review.id %>">
      <h5><%= review.title %></h5>
      <p><%= review.user.name %>, <%= review.rating %> Stars</p>
      <p><%= review.text %></p>
    </div>
    <% end %>
</section>
