<h2>New Review</h2>

<%= form_for @new_review do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :rating %>
  <%= f.number_field(:rating. in: 1..5, step: 1) %>
  <%= f.label :review %>
  <%= f.text_field :review %>

  <%= f.submit %>
<% end %>
