<h2>New Review</h2>

<%= form_for [@book, @new_review] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= label :user, :name, "Username" %>
  <%= text_field :user, :name %>
  <%= f.label :rating %>
  <%= f.number_field(:rating, in: 1..5, step: 1) %>
  <%= f.label :text, "Review" %>
  <%= f.text_field :text %>

  <%= f.submit %>
<% end %>
