<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul id="nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Browse by Author", authors_path %></li>
      <li><%= link_to "Browse by Book ", books_path %></li>
    </ul>

    <p class="flash"><%= flash.notice %></p>

    <%= yield %>
  </body>
</html>
