<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">The Book Nook</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item <%= 'active' if current_page?(root_path) %>">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(authors_path) %>">
            <%= link_to "Browse by Author", authors_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(books_path) %>">
            <%= link_to "Browse by Book", books_path, class: "nav-link" %>
          </li>
          <% if current_page?(books_path)  %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "Highest Rating", books_path(ratings: "high"), {class: "dropdown-item", id: "rating-high"} %>
                <a class="dropdown-item" href="<%= books_path(ratings: "low") %>" id="rating-low">Sort by: Lowest Rating</a>
                <a class="dropdown-item" href="<%= books_path(pages: "high") %>" id="pages-high">Sort by: Most Pages</a>
                <a class="dropdown-item" href="<%= books_path(pages: "low") %>" id="pages-low">Sort by: Least Pages</a>
                <a class="dropdown-item" href="<%= books_path(reviews: "high") %>" id="reviews-high">Sort by: Most Reviews</a>
                <a class="dropdown-item" href="<%= books_path(reviews: "low") %>" id="reviews-low">Sort by: Least Reviews</a>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <p class="flash"><%= flash.notice %></p>

    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8iX+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384- UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFfnJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
